<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Navbar :: html_head}"></head>
<body style="background-color: #f0f1f2;">
    
    <div th:replace="~{Fragments/Navbar :: navbar}"></div>
    
    <div class="container mt-4 pt-3">
        <div class="card shadow offset-2" style="width: 800px;">
            <div class="card-body px-5">
                <h4 class="text-primary mb-5 mt-3 text-center">FORM TAMBAH DATA PEMINJAM BUKU</h4>
                <form th:action="@{/save_pinjam}" method="post">
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="anggota" class="col-form-label col-sm-3">Nama Peminjam</label>
                            <div class="col-sm-9">
                               <select name="anggotaMTO" id="anggota" class="form-control" required>
                                   <option></option>
                                    <th:block th:each="data : ${list_anggota}">
                                        <option th:value="${data.id_anggota}">[[${data.nama}]]</option>
                                    </th:block>
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="judul" class="col-form-label col-sm-3">Judul Buku</label>
                            <div class="col-sm-9">
                               <select name="buku" id="judul" class="form-control" required>
                                   <option></option>
                                    <th:block th:each="data : ${list_buku}">
                                        <option th:value="${data.id_buku}">[[${data.tahun_terbit}]] - [[${data.judul}]]</option>
                                    </th:block>
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="tgl_pinjam" class="col-form-label col-sm-3">Tanggal Pinjam</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="tgl_pinjam" id="tgl_pinjam" required>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="tgl_kembali" class="col-form-label col-sm-3">Tanggal Kembali</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="tgl_kembali" id="tgl_kembali" required>
                            </div>
                        </div>
                    </div>
                    <div class="float-end mt-4">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                        <button type="reset" class="btn btn-outline-warning">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-4 offset-2">
            <a th:href="@{/pinjam_buku}" class="shadow-sm btn btn-outline-primary">Kembali</a>
        </div>
    </div>
    
</body>
</html>