<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Navbar :: html_head}"></head>
<body style="background-color: #f0f1f2;">
    
    <div th:replace="~{Fragments/Navbar :: navbar}"></div>

    <!-- Start Jumbotron -->
    <div class="container card mt-5 shadow">
        <div class="card-body my-5 px-5">
            <h3>E-<span class="fw-bold">Perpustakaan</span></h3>
            <div class="border border-2 border-primary opacity-75 mt-3"></div>
            <h5 class="mt-5">Website Ini Dibuat Sebagai Latihan Relation Database Di Java</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis ut quo expedita nisi animi at! Expedita mollitia reiciendis reprehenderit earum animi culpa quia quos, vitae incidunt temporibus. Iure, sunt veniam!</p>
        </div>
    </div>
    <!-- End Jumbotron -->

</body>
</html>