<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Navbar :: html_head}"></head>
<body style="background-color: #f0f1f2;">
    
    <div th:replace="~{Fragments/Navbar :: navbar}"></div>
    
    <div class="container px-5 pt-5">
        <div class="card mt-5 shadow">
            <div class="card-header ps-5">
                <a th:href="@{/input_anggota}" class="btn btn-outline-success">Tambah Anggota</a>
            </div>
            <h4 class=" mt-4 mb-3 text-primary text-center">DATA ANGGOTA</h4>
            <div class="card-body px-5">
                <table class="table">
                    <thead class="bg-light border-bottom border-primary border-2">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama Lengkap</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Kota</th>
                        <th scope="col">No HP</th>
                        <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="data : ${all_anggota}">
                            <th scope="row">[[${data.id_anggota}]]</th>
                            <td>[[${data.nama}]]</td>
                            <td>[[${data.tanggal_lahir}]]</td>
                            <td>[[${data.kota}]]</td>
                            <td>[[${data.no_hp}]]</td>
                            <td>
                                <a th:href="@{'/edit_anggota/'+${data.id_anggota}}" class="btn btn-sm btn-warning">Edit</a>
                                <a th:href="@{'/delete_anggota/'+${data.id_anggota}}" class="btn btn-sm btn-danger">Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>