<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Navbar :: html_head}"></head>
<body style="background-color: #f0f1f2;">
    
    <div th:replace="~{Fragments/Navbar :: navbar}"></div>
    
    <div class="container mt-5 pt-1">
        <div class="card shadow offset-2" style="width: 800px;">
            <div class="card-body px-5">
                <h4 class="text-primary mb-5 mt-3 text-center">FORM EDIT DATA ANGGOTA</h4>
                <form th:action="@{/update_anggota}" method="post">
                    <input type="hidden" name="id_anggota" th:value="${dataAnggota.id_anggota}">

                    <div class="m-3">
                        <div class="form-group row">
                            <label for="nama" class="col-form-label col-sm-3">Nama Lengkap</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="nama" id="nama" required th:value="${dataAnggota.nama}">
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="tanggal_lahir" class="col-form-label col-sm-3">Tanggal Lahir</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="tanggal_lahir" id="tanggal_lahir" required th:value="${dataAnggota.tanggal_lahir}">
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="kota" class="col-form-label col-sm-3">Kota</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="kota" id="kota" required th:value="${dataAnggota.kota}">
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group row">
                            <label for="no_hp" class="col-form-label col-sm-3">No HP</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="no_hp" id="no_hp" required th:value="${dataAnggota.no_hp}">
                            </div>
                        </div>
                    </div>
                    <div class="float-end mt-4">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-4 offset-2">
            <a th:href="@{/anggota}" class="shadow-sm btn btn-outline-primary">Kembali</a>
        </div>
    </div>
    
</body>
</html>